body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: linear-gradient(to bottom right, #ffdde1, #ee9ca7);
color: #4a0033;
text-align: center;}
h1 {
font-size: 2.5rem;
margin-bottom: 90px;}
.btn {
padding: 15px 40px;
margin: 10px;
font-size: 1.2rem;
border: none;
border-radius: 25px;
background: #ff4d79;
color: white;
cursor: pointer;
transition: transform 0.2s, background 0.3s;
}
.btn:hover {
transform: scale(1.05);
background: #e60050;
}
#noBtn {
position: absolute;
}